.observation {
    width: 100%;
    padding: 20px;
    color: #f96050;
    border: 1px solid #ff2d42;
    background-color: #fff;
}

.observation-title {
    padding-bottom: 5px;
    border-bottom: 1px solid #ff2d42;
    font-size: 20px;
    text-transform: capitalize;
}

.observation-content {
    padding: 10px 0;
    font-size: 14px;
}